<div class="page-body">
  <div *ngIf="noPackages">
    <p>
      No packages found.
      <span *ngIf="packagesUi.errorMessage">
          Error: {{packagesUi.errorMessage}}
      </span>
    </p>
  </div>
  <div *ngIf="!noPackages">
    <div class="hab-origin-package-list">
      <ul class="packages">
        <li class="heading">
          <h3 class="uppercase">Package Name</h3>
        </li>
        <li class="package" *ngFor="let package of packages" (click)="routeToPackage(pkg)">
          <div class="summary">
            <span class="pkg-name">{{ origin.name }}</span>
            <hab-icon symbol="chevron-right"></hab-icon>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="packages.size < totalCount">
      Showing {{packages.size}} of {{totalCount}} packages.
      <a href="#" (click)="fetchMorePackages()">
        Load
        {{(totalCount - packages.size) > perPage ? perPage : totalCount - packages.size }}
        more</a>.
    </div>
  </div>
</div>
