.hab-packagess-list {
  
  ul.packages {

    li {

      &.heading, &.package {
        @include row;
        border-bottom: 1px solid $very-light-gray;

        h3, .package-name{
          @include span-columns(12);
        }
      }

      &.heading {
        padding: 0 10px;

        h3 {
          padding: 0;
          font-size: rem(12px);
          font-family: $heading-font-family;
        }
      }

      &.package {
        cursor: pointer;
        font-size: rem(14px);

        .summary {
          @include row;
          padding: 15px 10px;
          position: relative;

          .package-name {
            font-weight: 600;
          }

          hab-icon[symbol="chevron-right"] {
            @include chevron-right;
            display: none;
          }

          &:hover {
            background-color: rgba($medium-gray, 0.05);

            hab-icon[symbol="chevron-right"] {
              display: block;
            }
          }
        }
      }
    }
  }
}
